[submodule "repos/Machine-learning-journey"]
	path = repos/Machine-learning-journey
	url = https://github.com/Eshaan0110/Machine-learning-journey.git
[submodule "repos/rl-navigation-agent"]
	path = repos/rl-navigation-agent
	url = https://github.com/Eshaan0110/rl-navigation-agent.git
[submodule "repos/cv-fundamentals"]
	path = repos/cv-fundamentals
	url = https://github.com/Eshaan0110/cv-fundamentals.git
[submodule "repos/Deep-Learning-Journey"]
	path = repos/Deep-Learning-Journey
	url = https://github.com/Eshaan0110/Deep-Learning-Journey.git
[submodule "repos/Skin-Cancer-Detection-Website"]
	path = repos/Skin-Cancer-Detection-Website
	url = https://github.com/Eshaan0110/Skin-Cancer-Detection-Website.git
[submodule "repos/meshmerize"]
	path = repos/meshmerize
	url = https://github.com/Eshaan0110/meshmerize.git
[submodule "repos/AUV-Mira"]
	path = repos/AUV-Mira
	url = https://github.com/Eshaan0110/AUV-Mira.git
